 body {
     background-color: black;
 }

 .grid-container {
     display: grid;
     grid-template-columns: auto auto auto;
     /* background-color: #2196F3; */
     padding: 10px;
     color: darkorange;
 }

 .grid-item {
     background-color: rgba(28, 27, 27, 0.8);
     border: 1px solid rgba(0, 0, 0, 0.8);
     padding: 20px;
     margin: 20px;
     font-size: 16px;
     text-align: center;
     column-gap: 30px;
     color: white;
 }

 .bold {
     font-weight: bold;
     font-size: 20px;
 }

 .grid-contain {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
    color: darkorange;
}